@charset "UTF-8";

.form {
  color: #155724;
  font-size: 12px;
  width: 100%;
  margin: 10px auto 10px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 3px rgba(51, 153, 0, 0.4);
}

.form:last-child {
  margin-bottom: 20px;
}

.form:focus {
  box-shadow: 0 0 7px #4169e1;
}

input[type=text] {
  height: 35px;
}

textarea {
  height: 50px;
  transition: 1s;
}

textarea:focus {
  height: 150px;
}

.topWrapper {
  width: 150px;
  margin: 0 auto;
}

.thumbnail {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.editThumbnail {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.buttonSet {
  margin: 30px 0 0 0;
  text-align: center;
}

.labelTitle {
  color: #697282;
  margin: 20px 0 5px 0;
}

input[class=userForm],
.userForm {
  width: 100%;
  padding: 5px 0 5px 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  transition: 1s;
}

input[class=userForm]:focus,
.userForm:focus {
  background: #87ceeb;
}

.btn-square-emboss {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #b4b9c3;
  /*ボタン色*/
  color: #697282;
  /*ボタン色より暗く*/
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #627295;
  border-radius: 3px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.btn-square-emboss:active {
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.postBtn {
  width: 30%;
  height: 40px;
  margin: 0 0 40px 0;
}

.btn-done {
  background: #dc143c;
  border: 1px solid #dc143c;
}

.btn-done:hover {
  background: #cc1237;
  border: 1px solid #cc1237;
}

.deleteIcon {
  color: #006DD9;
  font-size: 20px;
  border: none;
  background: none;
}

.error_msg {
  font-size: 15px;
  font-weight: 100;
  color: #cc1237;
}

.itemAlert {
  display: flex;
}

.comment {
  width: 95%;
}

.editor_area {
  height: auto;
  min-height: 250px;
  border: 3px solid #ccc;
}

.editor_area[data-hover] {
  border: dashed aqua;
}

.paginate span:active {
  background-color: gray !important;
  border-color: gray !important;
}

.links {
  display: inline-block;
  margin-left: 300px;
}

.links a {
  margin-right: 5px;
}

.fa-twitter {
  color: #00acee;
  font-size: 25px;
}

.fa-github {
  font-size: 25px;
  color: black;
}

.fa-facebook-square {
  font-size: 25px;
  color: #3B5998;
}

.fa-instagram {
  font-size: 25px;
  color: #262626;
}

.fa-youtube {
  font-size: 25px;
  color: #c4302b;
}

.fa-android {
  font-size: 25px;
}

.fa-apple {
  font-size: 25px;
}

.fa-google {
  font-size: 25px;
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

