.form {
  color: #4169e1;
  font-size: 12px;
  width: 100%;
  margin: 10px auto 10px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 3px rgba(65, 105, 255, 0.4);
}

.form:last-child {
  margin-bottom: 20px;
}

.form:focus {
  box-shadow: 0 0 7px #4169e1;
}

input[type=text] {
  height: 35px;
}

textarea {
  height: 50px;
  transition: 1s;
}

textarea:focus {
  height: 150px;
}

input[class=create] {
  width: 100%;
  font-size: 15px;
  font-weight: 100;
  color: #fff;
  margin: 0 auto 50px;
  padding: 5px 0 5px 0;
  background: #6495ed;
  border: 1px solid #4169e1;
  border-radius: 5px;
  box-sizing: border-box;
  transition: 1s;
}

input[class=create]:hover {
  box-shadow: 0 0 7px #4169e1;
  opacity: 0.7;
}

input[class=delete] {
  font-size: 13px;
  font-weight: 100;
  margin: 5px 0 0 0;
  padding: 0 3px;
}

.topWrapper {
  width: 150px;
  margin: 0 auto;
}

.thumbnail {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.editThumbnail {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.buttonSet {
  margin: 30px 0 0 0;
  text-align: center;
}

.labelTitle {
  color: #006DD9;
  margin: 20px 0 5px 0;
}

input[class=userForm],
.userForm {
  width: 100%;
  padding: 5px 0 5px 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  transition: 1s;
}

input[class=userForm]:focus,
.userForm:focus {
  background: #87ceeb;
}

.postBtn {
  width: 30%;
  height: 40px;
  margin: 0 0 40px 0;
}

.btn-done {
  background: #dc143c;
  border: 1px solid #dc143c;
}

.btn-done:hover {
  background: #cc1237;
  border: 1px solid #cc1237;
}

.deleteIcon {
  color: #006DD9;
  font-size: 20px;
  border: none;
  background: none;
}

.error_msg {
  font-size: 15px;
  font-weight: 100;
  color: #cc1237;
}

.itemAlert {
  display: flex;
}

.comment {
  width: 95%;
}

.editor_area {
  height: auto;
  min-height: 250px;
  border: 3px solid #ccc;
}

.editor_area[data-hover] {
  border: dashed aqua;
}

.links {
  display: inline-block;
  margin-left: 100px;
}

.links a {
  margin-right: 5px;
}

.fa-twitter {
  color: #00acee;
  font-size: 25px;
}

.fa-github {
  font-size: 25px;
  color: black;
}

.fa-facebook-square {
  font-size: 25px;
  color: #3B5998;
}

.fa-instagram {
  font-size: 25px;
  color: #262626;
}

.fa-youtube {
  font-size: 25px;
  color: #c4302b;
}

.fa-android {
  font-size: 25px;
}

.fa-apple {
  font-size: 25px;
}

.fa-google {
  font-size: 25px;
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

