nav {
  background-color: pink;
}
.navbar-brand {
  background-color: gray;
}
.navbar-toggler {
  width: 100px;
  height: 20px;
  background-color: gray;
  border: 1px solid black;
}

.test {
  color: green;
}